<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大连理工大学第十食堂</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!--css-->
    <link href="../static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!--jQuery幻灯片插件-->
    <link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css" media="all"/>
    <!-- js -->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!-- 文字滚动插件-->
    <script src="../static/js/myslideup.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
{#    <link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">#}
{#    <link href="http://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">#}
</head>
<body>
<script type="text/javascript">
    let text = window.location.search;
    let param = text.split("?");
    let username = decodeURIComponent(param[1].split("=")[1]);
    let url = "../news?userId="+ username;
    $(function(){
        $(".line").slideUp();
        let text = window.location.search;
        let param = text.split("?");
        let username = decodeURIComponent(param[1].split("=")[1]);
    })
    function jump() {
        window.location.href = url;
    }
</script>
<div class="banner1">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header">
            <div class="container">
                <div class="w3ls-header-left">
                    <div class="announce"><i class="fa fa-bullhorn" ></i>&nbsp;&nbsp;&nbsp;
                    <ul class="line">
                        <li style="margin-top: 0; ">餐饮须知:</li>
                        <li style="margin-top: 0; ">1.请确保您的电话畅通,方便送餐员及时与您联系!</li>
                        <li style="margin-top: 0; ">2.用餐高峰期时段及恶劣天气情况下,请您提早安排用餐时间,给您带来不便敬请谅解</li>
                        <li style="margin-top: 0; ">3.最终解释权归食堂所有!</li>
                    </ul>
                    </div>
                </div>
                <div class="w3ls-header-right">
                    <ul>
                        <li class="head-dpdn">
                            <i class="fa fa-phone" aria-hidden="true"></i> 电话: +01 222 33345
                        </li>
                        <li class="head-dpdn">
                            <a href="sign.html"><i class="fa fa-sign-in" aria-hidden="true"></i> 登陆</a>
                        </li>
                        <li class="head-dpdn">
                            <a href="register.html"><i class="fa fa-user-plus" aria-hidden="true"></i> 注册</a>
                        </li>
                        <li class="head-dpdn">
                            <a href="offers.html"><i class="fa fa-gift" aria-hidden="true"></i> 反馈</a>
                        </li>
                        <li class="head-dpdn">
                            <a href="help.html"><i class="fa fa-question-circle" aria-hidden="true"></i> 帮助</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header w3l_logo">
                        <!-- small menu icon-->
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="home.html"><img src="../static/image/logo.png" style="height:80px;width: 80px" alt=""/><span>Best Food Collection</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="home.html" class="active">首页</a></li>
                            <!--Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">菜单 <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                            <ul class="multi-column-dropdown">
                                                <li><a onclick="jump()">早餐</a></li>
                                                <li><a onclick="jump()">午餐</a></li>
                                                <li><a onclick="jump()">晚餐</a></li>
                                            </ul>
                                        <div class="clearfix"></div>
                                </ul>
                            </li>
                            <li><a href="contact.html">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="cart cart box_1">


                            <button class="w3view-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                        <div id="staplesbmincart">
                            <form method="post" class="sbmincart-empty" action="news.html" target="">
                                <button type="button" class="sbmincart-closer">×</button>
                                <div class="sbmincart-footer">
                                    <p class="sbmincart-empty-text">你的购物车是空的!</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
</div>
<div class="add-products">
    <div class="container">
        <div class="add-products-row">
            <div class="w3ls-add-grids">
                <a onclick="jump()">
                    <!--食物介绍-->
                    <h4><span>南北</span>美食,风味<span>小吃</span></h4>
                    <h5>大连理工大学第十食堂</h5>
                    <h6>现在订餐<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <div class="w3ls-add-grids w3ls-add-grids-right">
                <a onclick="jump()">
                    <!--食物介绍-->
                    <h4>2019年食品评级为<span>A级</span></h4>
                    <h5>食品安全、可视化管理、设置意见箱</h5>
                    <h6>现在订餐<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="w3agile-spldishes">
    <div class="container">
        <h3 class="w3ls-title">特色美食</h3>
        <div class="spldishes-agileinfo">
            <div class="col-md-3 spldishes-w3left">
                <h5 class="w3ltitle">主要特色菜</h5>
                <p>集各国特色菜系，色相俱全，健康美味！</p>
            </div>
            <div class="col-md-9 spldishes-grids">
                <!-- Owl-Carousel -->
                <div id="owl-demo" class="owl-carousel text-center agileinfo-gallery-row">
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/breakfast.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>营养早餐</h4>
                            <span>主材料:鸡蛋、火腿、面包、水果</span><br/>
                            <span>充满活力每一天！</span>
                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/liaoli.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>日韩料理</h4>
                            <span>主材料:三文鱼、紫菜包饭</span><br/>
                            <span>食材新鲜,吃着放心！</span>
                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/zhab.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>炸饼</h4>
                            <span>主要食材:玉米面,玉米油,黄油</span><br>
                            <span>外表金黄，酥脆香,粗粮更健康!</span>
                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/sala.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>沙拉</h4>
                            <span>主要食材:圣女果，生菜，沙拉，香蕉</span><br>
                            <span>低卡路里,瘦出小蛮腰！</span>

                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/dessert.jpg" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>萌萌甜点</h4>
                            <span>主要食材:小麦面,奶油,果酱</span><br>
                            <span>饭后来一点，甜蜜一整天!</span>
                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/bouili.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>红烧肉</h4>
                            <span>主要食材:五花肉,红糖,酱油，料酒，蒜</span><br>
                            <span>软糯可口，入口即化，是妈妈的味道!</span>
                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/paigu.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>糖醋排骨</h4>
                            <span>主要食材:排骨,红糖,番茄酱</span><br>
                            <span>酸甜可口!</span>
                        </div>
                    </a>
                    <a onclick="jump()" class="item g1">
                        <img class="lazyOwl" src="../static/image/fish.jpg" title="Our latest gallery" alt=""/>
                        <div class="agile-dish-caption">
                            <h4>水煮鱼</h4>
                            <span>主要食材:黑鱼,辣椒,香菜</span><br>
                            <span>香辣口味，吃得过瘾!</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="copyw3-agile">
    <div class="container">
        <p>Copyright &copy; 2019.小学期<a href="#" target="_blank" title="美味无穷">美味无穷</a></p>
    </div>
</div>
<script>
    $(".w3view-cart").on("click",
            function(){
                $btn=$(this)
            $("#staplesbmincart").css("display","block");

            })
    $(".sbmincart-closer").on("click",function(){
        $("#staplesbmincart").css("display","none");
    })
</script>
<!-- //cart-js -->
<!-- Owl-Carousel-JavaScript -->
<script src="../static/js/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel ({
            items : 3,
            lazyLoad : true,
            autoPlay : true,
            pagination : true
        });
    });
</script>
<!-- //Owl-Carousel-JavaScript -->
<!-- start-smooth-scrolling -->
<script src="../static/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>