<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜品详情</title>
    <script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/move-top.js"></script>
    <script type="text/javascript" src="../static/js/easing.js"></script>
    <script type="text/javascript" src="../static/js/Plus.js"></script>
    <script src="../static/js/jquery-3.0.0.min.js"></script>
    <script src="../static/js/jquery.params.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

    <script>
        //页面加载函数
        $(function() {
            var text = window.location.search;
            var param = text.split("?");
            var Name = decodeURIComponent(param[1].split("=")[1]);
            var Price = decodeURIComponent(param[2].split("=")[1]);
            var ID = decodeURIComponent(param[3].split("=")[1]);
            let imgSrc = "../static/image/d" + ID + ".jpg";
            $("#img1").attr('src', imgSrc);


            var url = "../menu?name="+Name+"?price="+Price;
            //var Name = GetCookieByName("name");
            //var Price = GetCookieByName("price");

            $("#name").text(Name);
            $("#label").html(Name);
            $("#price").text(Price);


            $.ajax({
            url:"http://127.0.0.1:8000/getComment/",
            data:{id: ID,
                   url: url},
            type: "POST",
             datatype:"json",
                success: function (data) {
                comment=JSON.parse(data.comment)
                var tableData="<tr>";
                    for(var i=0;i<comment.length;i++){
                        tableData+="<tr>"+"<td>用户评价："+comment[i][0]+"</td>"+"</tr>";
                    }
                    tableData+="</tr>";
                    $("#tbody1").html(tableData);
                    $("#score").html(data.score);
            },
                error:function(data){
                alert("ERROR");

                }
              });
            alert("请求成功");

            var pull 		= $('#pull');
            menu 		= $('nav ul');
            menuHeight	= menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });

        });

    </script>
</head>

<body onload="Get_OrderList()">
<div>
    <label id="label">

    </label>
    <div class="recent-news-grid-right">
        <img id="img1" title="图片仅供参考" style="height: 200px; width: 180px"/>
        <div id="name"> </div>
        <div id="price"> </div>
    </div>
</div>
<div>
    综合评分：<span id="score"></span>
</div>
<div>
    赞:<button id="btn_zan">0</button>
    踩:<button id="btn_cai">0</button>
    <table>
        <tbody id="tbody1">
        </tbody>
    </table>

    <script>
        function dianZan(){
            var i = 0;
            return function(){
                this.innerHTML ="+"+ ++i;
            }
        }
        btn_zan.onclick = dianZan();
        function caiZan(){
            var i = 0;
            return function(){
                this.innerHTML = --i;
            }
        }
        btn_cai.onclick = caiZan();
    </script>
</div>
</body>
</html>