<!DOCTYPE HTML>
<html>
	<meta charset="UTF-8">
	<head>
		<title>大连理工大学第十食堂</title>
		<link href="../static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script src="../static/js/jquery.min.js"></script>
		<link href="../static/css/style2.css" rel='stylesheet' type='text/css' />
        <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all"/>
		<link href="../static/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css" media="all"/>
		<script src="../static/js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
		<script type="text/javascript" src="../static/js/Plus.js"></script>
        <script src="../static/js/myslideup.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
			function jump() {
                let text = window.location.search;
                let param = text.split("?");
                let username = decodeURIComponent(param[1].split("=")[1]);
                let url = "../home?userId="+ username;
                window.location.href = url;
            }
		</script>

		<script>
		$(function() {
			var pull 		= $('#pull');
			menu 		= $('nav ul');
			menuHeight	= menu.height();
			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});
			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});



				$("#pic1").on("click",function(){
                var name = $("#name1").text();
                var price = $("#price1").text();
                alert(name);
                //document.cookie = "name="+name;
                //document.cookie = "price="+price;
                alert(price);
				jump1(name, price,1);
			});

				$("#pic2").on("click",function(){
                var name = $("#name2").text();
                var price = $("#price2").text();
                alert(name);
                alert(price);
				jump1(name, price,2);
			});

				$("#pic3").on("click",function(){
                var name = $("#name3").text();
                var price = $("#price3").text();
                alert(name);
                alert(price);
				jump1(name, price,3);
			});

		});
        function jump1(name, price,id){
            let url = "../menu?name="+name+"?price="+price+"?id="+id;//此处拼接内容
            window.location.href = url;
        }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>

	</head>
	<body>

<div class="banner1">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header">
            <div class="container">
                <div class="w3ls-header-left">
                    <div class="announce"><i class="fa fa-bullhorn" ></i>&nbsp;&nbsp;&nbsp;
                    <ul class="line">
                        <li style="margin-top: 0; ">餐饮须知:</li>
                        <li style="margin-top: 0; ">1.请确保您的电话畅通,方便送餐员及时与您联系!</li>
                        <li style="margin-top: 0; ">2.用餐高峰期时段及恶劣天气情况下,请您提早安排用餐时间,给您带来不便敬请谅解</li>
                        <li style="margin-top: 0; ">3.最终解释权归食堂所有!</li>
                    </ul>
                    </div>
                </div>
                <div class="w3ls-header-right">
                    <ul>
                        <li class="head-dpdn">
                            <i class="fa fa-phone" aria-hidden="true"></i> 电话: +01 222 33345
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container" >
                <nav class="navbar navbar-default">
                    <div class="navbar-header w3l_logo" >  
                        <h1 ><a href="home.html" style="margin-left: -1400px;line-height: 20px"><img src="../static/image/logo.png" style="height:80px;width: 80px;" alt=""/><span>Best Food Collection</span></a></h1>
                        
                    </div>
                    <nav class="top-nav" style="margin-right:180px;line-height: 20px;margin-top: 25px;margin-bottom: -30px">
						<ul class="top-nav" style="color: #fff" >
								食堂自助点餐系统登录界面
                            <p>当前用户：<span id="userID"></span></p>
						</ul>
					</nav>
					
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs" >
                        <ul class="nav navbar-nav navbar-right">
                            <li><a onclick="jump()" class="active" style="line-height: 0px;color: #fff;margin-top:-60px;">首页</a></li>
                        </ul>
                    </div>
                    <div class="cart cart box_1">
                        <button class="w3view-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                        <div id="staplesbmincart">
                            <form method="post" class="sbmincart-empty" action="news.html" target="">
                                <button type="button" class="sbmincart-closer">×</button>
                                <div class="sbmincart-footer">
                                    <p class="sbmincart-empty-text">你的购物车是空的!</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
</div>
<script>
    			    //设置userID
                let text = window.location.search;
                let param = text.split("?");
                let userID = decodeURIComponent(param[1].split("=")[1]);
                $("#userID").text(userID);
</script>
<div class="news">
	<div class="News-page">
    	<div class="container">
				<div class="recent-news">
					<div class="recent-news-grid">
						<div class="recent-news-grid-left">
							<img src="../static/image/bouili.jpg" id="pic1" />
						</div>
						<div class="recent-news-grid-right">
							<p id="name1">红烧肉</p>
							<p>精选五花肉，优质秘方配料。</p>
							<p id="price1">
								单价：10元
							</p>
						</div>
						<div id="B1" style="width: 160px">
							<input style="width: 50px; height: 38px; border: 2px white; float: left;" type="button" value="-" onclick="reductionOf(this)" />
							<input id="B11" style="text-align: center; width: 50px; height: 32px; float: left;" type="text" value="0" onblur="checkNumber(this)" />
							<input style="width: 50px; height: 38px; border: 2px white;" type="button" value="+" onclick="add(this)" />
						</div>

						<div class="clearfix"> </div>
					</div>
					<div class="recent-news-grid">
						<div class="recent-news-grid-left">
                            <img src="../static/image/liaoli.jpg" id="pic2" />
						</div>
						<div class="recent-news-grid-right">
							<p id="name2">日本料理</p>
							<p>新鲜三文鱼，美味寿司</p>
							<p id="price2">
								单价：11元
							</p>
						</div>
						<div id="B2" style="width: 160px">
							<input style="width: 50px; height: 38px; border: 2px white; float: left;" type="button" value="-" onclick="reductionOf(this)" />
							<input id = "B21" style="text-align: center; width: 50px; height: 32px; float: left;" type="text" value="0" onblur="checkNumber(this)" />
							<input style="width: 50px; height: 38px; border: 2px white;" type="button" value="+" onclick="add(this)" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="recent-news-grid">
						<div class="recent-news-grid-left">
                            <img src="../static/image/noodle.jpg" id="pic3" />
						</div>
						<div class="recent-news-grid-right">
							<p id="name3">重庆小面</p>
							<p>原汁原味的重庆特色面</p>
							<p id="price3">
								单价：12元
							</p>
						</div>
						<div id="B3" style="width: 160px">
							<input style="width: 50px; height: 38px; border: 2px white; float: left;" type="button" value="-" onclick="reductionOf(this)" />
							<input id="B31" style="text-align: center; width: 50px; height: 32px; float: left;" type="text" value="0" onblur="checkNumber(this)" />
							<input style="width: 50px; height: 38px; border: 2px white;" type="button" value="+" onclick="add(this)" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<button type="button" onclick="openwindows()">结算</button>
				</div>
			</div>
			<div class="fearuted-diesh">
			<div class="container">
				<h3>其它美食<span> </span></h3>
				<div class="sreen-gallery-cursual">
					<link href="../static/css/owl.carousel.css" rel="stylesheet">
						<script src="../static/js/owl.carousel.js"></script>
						<script>
							$(document).ready(function() {
							    $("#owl-demo").owlCarousel({
							        items :4,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							    });
							});
						</script>
						<div id="owl-demo" class="owl-carousel">
					        <div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/bouili.jpg" title="dish-name" />
					                </div>
					                <div class="item-info">
					                	<div class="item-info-left">
					                		<h4>红烧肉</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$10</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
							</div>
					    	<div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/liaoli.jpg" title="dish-name" />
					               	</div>
					                <div class="item-info">
					                	<div class="item-info-left">
					                		<h4>日本料理</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$11</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
					        </div>
							<div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/noodle.jpg" title="dish-name" />
					                </div>
					                <div class="item-info">
					              		<div class="item-info-left">
					                		<h4>重庆小面</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$12</label>
					                	</div>
					                	<div class="clearfix"> </div>
					               	</div>
					            </div>
					        </div>
							<div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/bouili.jpg" title="dish-name" />
					                </div>
					                <div class="item-info">
					                	<div class="item-info-left">
					                		<h4>红烧肉</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$10</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
					        </div>
							<div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/liaoli.jpg" title="dish-name" />
					                </div>
					              	<div class="item-info">
					                	<div class="item-info-left">
					                		<h4>日本料理</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$11</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
					        </div>
							<div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/noodle.jpg" title="dish-name" />
					                </div>
					                <div class="item-info">
					                	<div class="item-info-left">
					                		<h4>重庆小面</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$12</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
					        </div>
							<div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/bouili.jpg" title="dish-name" />
					                </div>
					                <div class="item-info">
					                	<div class="item-info-left">
					                		<h4>红烧肉</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$10</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
					        </div>

					        <div class="item">
					            <div class="item-grid">
					                <div class="item-pic">
					                	<img src="../static/image/liaoli.jpg" title="dish-name" />
					                </div>
					                <div class="item-info">
					               		<div class="item-info-left">
					                		<h4>日本料理</h4>
					                		<span class="item-rate"> </span>
					                	</div>
					                	<div class="item-info-right">
					                		<label>$11</label>
					                	</div>
					                	<div class="clearfix"> </div>
					                </div>
					            </div>
					        </div>
				        </div>
				</div>
			</div>
		</div>
	</div>
</div>		
<div class="copyw3-agile">
    <div class="container">
        <p>Copyright &copy; 2019.小学期<a href="#" target="_blank" title="美味无穷">美味无穷</a></p>
    </div>
</div>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
</script>
<script>
		$(function() {
			var pull 		= $('#pull');
			menu 		= $('nav ul');
			menuHeight	= menu.height();
			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});
			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
	</script>
<script>
    $(".w3view-cart").on("click",
            function(){
                $btn=$(this)
            $("#staplesbmincart").css("display","block");

            })
    $(".sbmincart-closer").on("click",function(){
        $("#staplesbmincart").css("display","none");
    })
</script>
<!-- //cart-js -->
<!-- Owl-Carousel-JavaScript -->
<script src="../static/js/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel ({
            items : 3,
            lazyLoad : true,
            autoPlay : true,
            pagination : true
        });
    });
</script>
<!-- //Owl-Carousel-JavaScript -->
<!-- start-smooth-scrolling -->
<script src="../static/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>
