<!DOCTYPE HTML>
<html>
	<meta charset="UTF-8">
	<head>
		<title>食堂自助点餐系统</title>
		<link href="../static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script src="../static/js/jquery.min.js"></script>
		<link href="../static/css/style2.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
		<script type="text/javascript" src="../static/js/Plus.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<script>
		$(function() {
			var pull 		= $('#pull');
			menu 		= $('nav ul');
			menuHeight	= menu.height();
			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});
			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>

	</head>
	<body background="../static/image/menu/menu-bg.jpg">

			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<img src="../static/image/logo.png" style="height:80px;width: 80px" alt="" />
						</div>
						 <nav class="top-nav">
							<ul class="top-nav">
								食堂自助点餐系统登录界面
							</ul>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>

			<div class="news">
				<div class="news-header" >
					<div class="container">
						<h1><span>本食堂</span> 菜单</h1>
					</div>
				</div>
			<div class="clearfix"> </div>
			<div class="News-page">
				<div class="container">
					<h2><span> </span>&nbsp;&nbsp;&nbsp;&nbsp; 可选餐点 &nbsp;<span> </span></h2>
					<p>图案仅供参考，一切应以实物为准。本食堂保留最终解释权</p>
				<div class="recent-news">
					<div class="recent-news-grid">
						<div class="recent-news-grid-left">
							<a href="#"><img src="../static/image/menu/d1.jpg" title="name" /></a>
						</div>
						<div class="recent-news-grid-right">
							<p>油炸大白菜</p>
							<p>包含你没有尝过的全新地沟油。</p>
							<p id="price1">
								单价：10元
							</p>
						</div>
						<div id="B1" style="width: 160px">
							<input style="width: 50px; height: 38px; border: 2px white; float: left;" type="button" value="-" onclick="reductionOf(this)" />
							<input id="B11" style="text-align: center; width: 50px; height: 32px; float: left;" type="text" value="0" onblur="checkNumber(this)" />
							<input style="width: 50px; height: 38px; border: 2px white;" type="button" value="+" onclick="add(this)" />
						</div>

						<div class="clearfix"> </div>
					</div>
					<div class="recent-news-grid">
						<div class="recent-news-grid-left">
							<a href="#"><img src="../static/image/menu/d2.jpg" title="name" /></a>
						</div>
						<div class="recent-news-grid-right">
							<p>馒头蘸红糖</p>
							<p>大量使用新型漂白粉和染色剂</p>
							<p id="price2">
								单价：11元
							</p>
						</div>
						<div id="B2" style="width: 160px">
							<input style="width: 50px; height: 38px; border: 2px white; float: left;" type="button" value="-" onclick="reductionOf(this)" />
							<input id = "B21" style="text-align: center; width: 50px; height: 32px; float: left;" type="text" value="0" onblur="checkNumber(this)" />
							<input style="width: 50px; height: 38px; border: 2px white;" type="button" value="+" onclick="add(this)" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="recent-news-grid">
						<div class="recent-news-grid-left">
							<a href="#"><img src="../static/image/menu/d3.jpg" title="name" /></a>
						</div>
						<div class="recent-news-grid-right">
							<p>炖石头</p>
							<p>原料来自学校旧旱厕的奠基石</p>
							<p id="price3">
								单价：12元
							</p>
						</div>
						<div id="B3" style="width: 160px">
							<input style="width: 50px; height: 38px; border: 2px white; float: left;" type="button" value="-" onclick="reductionOf(this)" />
							<input id="B31" style="text-align: center; width: 50px; height: 32px; float: left;" type="text" value="0" onblur="checkNumber(this)" />
							<input style="width: 50px; height: 38px; border: 2px white;" type="button" value="+" onclick="add(this)" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<button type="button" onclick="openwindows()">结算</button>
				</div>
				</div>
			<div class="fearuted-diesh">
				<div class="container">
					<h3>Featured Dishes<span> </span></h3>
						<div class="sreen-gallery-cursual">
							<link href="../static/css/owl.carousel.css" rel="stylesheet">
							    <script src="../static/js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							         items :4,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d1.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Fugiat nulla sint</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$30</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d2.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Daute irure dolor</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$24</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d3.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Officia deserunt mollit</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$60</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d4.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Pim minim veniam</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$17</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d1.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Fugiat nulla sint</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$30</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d2.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Daute irure dolor</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$24</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d3.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Officia deserunt mollit</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$60</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="../static/image/menu/d4.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Pim minim veniam</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$17</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>

				              </div>

				</div>
			</div>
			</div>
			</div>
			</div>

<div class="copyw3-agile">
    <div class="container">
        <p>Copyright &copy; 2019.小学期<a href="#" target="_blank" title="美味无穷">美味无穷</a></p>
    </div>
</div>

	
</body>
</html>

